@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Edit Votes";
}

<ul>
    @foreach (var movie in Model.GroupBy(m => m.Title))
    {
        <li class="title">
            @movie.Key
            <ul>
                @foreach (var item in movie)
                {
                    <li class="owner">
                        <div class="img-container">
                            <img src="@Url.Action("GetImage","Home", new { userid = item.OwnerId })" />
                        </div>
                        @item.Owner.FirstName @item.Owner.LastName
                        <a class="btn btn-danger" href="/Home/DeleteVote?uid=@item.Uid">
                            Delete
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
</ul>
