@model IEnumerable<Movie>

<ul>
    @foreach (var movie in Model.GroupBy(m => m.Title))
    {
        <li>@movie.Key
            <ul>
                @foreach (var owner in movie)
                {
                    <li>@owner.OwnerId</li>
                }
            </ul>
        </li>
    }
</ul>
