@model IEnumerable<Movie>

@using Microsoft.AspNetCore.Identity
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager


<ul>
    @foreach (var movie in Model.GroupBy(m => m.Title))
    {
        <li>@movie.Key
            <ul>
                @foreach (var item in movie)
                {
                    <li>
                        @item.Owner.FirstName @item.Owner.LastName
                        @if (item.OwnerId == UserManager.GetUserId(User))
                        {
                            <a href="/Home/Delete/?uid=@item.Uid" >
                                Delete
                            </a>
                        }
                    </li>
                }
            </ul>
        </li>
    }
</ul>
